[defaults]
inventory          = ansible/inventory/hosts.yml
roles_path         = ansible/roles
collections_paths  = ~/.ansible/collections
deprecation_warnings = false
INJECT_FACTS_AS_VARS  = false
stdout_callback    = default
result_format      = yaml
interpreter_python = auto_silent

[privilege_escalation]
become       = true
become_method = sudo
