{{- $profile := promptChoiceOnce . "profile" "Machine profile" (list "work" "private") -}}
{{- $name    := promptStringOnce  . "name"    "Your full name" -}}
{{- $email   := promptStringOnce  . "email"   "Your email address" -}}

[data]
    profile = {{ $profile | quote }}
    name    = {{ $name    | quote }}
    email   = {{ $email   | quote }}
